<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>DemoWebApplication</display-name>
  <welcome-file-list>
    <welcome-file>demo.html</welcome-file>
   
  </welcome-file-list>
  
  <servlet-mapping>
  <servlet-name>DemoServlet</servlet-name>
  <url-pattern>/dm</url-pattern>
  
  </servlet-mapping>
  
  <servlet>
  <servlet-name>DemoServlet</servlet-name>
  <servlet-class>com.ty.firstServlet.DemoServlet</servlet-class>
  
  </servlet>
  
</web-app>